*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:320px; height:100%}

body {min-width:320px; height:100%; margin:0; padding:0; font:18px/27px Arial, sans-serif; color:#000000; background:#FFFFFF; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; overflow-anchor:none}
.fonts-loaded body {font-family:GraphikLCG, sans-serif}

@media screen and (max-width:1199px) {
    body {font-size:20px; line-height:30px}
}

a {color:#000000; transition:all 0.2s}
a:hover {color:#FF2F66; text-decoration:none}

img {border:none; max-width:100%; height:auto}
iframe {border:none; max-width:100%}

::-ms-clear {display:none}

strong, b {font-weight:500}

h1 {margin:0 0 20px 0; padding:0; font-weight:bold; font-size:55px; line-height:55px; color:#000000}
h2 {margin:40px 0 20px 0; padding:0; font-weight:bold; font-size:36px; line-height:41px; color:#000000}
h3 {margin:40px 0 20px 0; padding:0; font-weight:500; font-size:30px; line-height:42px; color:#000000}
h4 {margin:40px 0 20px 0; padding:0; font-weight:500; font-size:22px; line-height:40px; color:#000000}
h5 {margin:40px 0 20px 0; padding:0; font-weight:600; font-size:20px; line-height:30px; color:#000000}
h6 {margin:40px 0 20px 0; padding:0; font-weight:600; font-size:18px; line-height:27px; color:#000000}
p {margin:20px 0; padding:0}
ul {margin:40px 0 34px 0; padding:0; list-style:none}
ul li {margin:6px 0; padding:0 0 0 15px; position:relative}
ul li::before {content:""; display:block; position:absolute; left:0; top:10px; width:5px; height:5px; background:#171717}
li ul {margin:10px 0 24px 0}
ol {margin:40px 0 34px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:6px 0; padding:0 0 0 27px; position:relative}
ol li::before {content:counter(point)'.'; counter-increment:point 1; font-weight:normal; position:absolute; left:0; top:0; color:#000000}
li ol {margin:10px 0 24px 0; counter-reset:subpoint}
li ol li {padding:0 0 0 37px}
ol ol li::before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}

@media screen and (max-width:1199px) {
    h1 {font-size:40px; line-height:52px}
    h2 {font-size:32px; line-height:32px}
    h3 {font-size:28px; line-height:36px}
    h4 {font-size:24px; line-height:31px}
    h5 {font-size:22px; line-height:29px}
    h6 {font-size:20px; line-height:30px}
    p {margin:10px 0}
}

@media screen and (max-width:767px) {
    h2 {font-size:30px; line-height:39px}
    h3 {font-size:30px; line-height:39px}
    p {margin:20px 0}
}

@media screen and (max-width:479px) {
    h1 {font-size:32px; line-height:48px}
    h2 {font-size:28px; line-height:38px}
    h3 {font-size:26px; line-height:39px}
    h4 {font-size:20px; line-height:30px}
}

.btn {display:inline-block; vertical-align:top; margin:0; padding:0 20px; height:44px; overflow:visible; outline:none; text-decoration:none; background:#F4F4F4; color:#000000; border:none; border-radius:0; font:600 14px/44px Arial, Helvetica, sans-serif; letter-spacing:0.05em; text-transform:uppercase; text-align:center; position:relative; -webkit-appearance:none; cursor:pointer; transition:all 0.2s; box-sizing:border-box}
.fonts-loaded .btn {font-family:GraphikLCG, sans-serif}
.btn:hover {color:#FFFFFF; background:#000000}
.btn svg {display:inline-block; vertical-align:middle; width:24px; height:24px; margin:-2px 6px 0 0; fill:none; fill:#000000; transition:fill 0.2s}
.btn:hover svg {fill:#FFFFFF}

@media screen and (min-width:1800px) {
    .btn {height:60px; font-size:18px; line-height:60px}
}

.form-input {margin:20px 0; position:relative}
.form-input input {position:relative; border:1px solid #d9d9d9; font:500 16px/24px Arial, sans-serif; color:#000000; vertical-align:top; margin:0; padding:9px; width:100%; height:44px; box-sizing:border-box; outline:none; border-radius:0; background:#FDFDFD; -webkit-appearance:none; transition:border-color 0.2s}
.fonts-loaded .form-input input {font-family:GraphikLCG, sans-serif}
.form-input input::-webkit-input-placeholder {opacity:1; color:#B0B0B0}
.form-input input::-moz-placeholder {opacity:1; color:#B0B0B0}
.form-input input:-ms-input-placeholder {opacity:1; color:#B0B0B0}
.form-input input:hover {border-color:#8E8E8E}
.form-input input:focus {border-color:#000000}
.form-input input:-webkit-autofill,
.form-input input:-webkit-autofill:active,
.form-input input:-webkit-autofill:focus,
.form-input input:-webkit-autofill:hover {-webkit-text-fill-color:#000000; caret-color:#000000; -webkit-transition:background-color 999999s ease-in-out 0s; transition:background-color 999999s ease-in-out 0s}
label.error {display:block; font-size:12px; line-height:18px; color:#bd423a; margin:5px 0 0 0; text-align:right}

@media screen and (max-width:1199px) {
    .form-input input {font-size:18px; line-height:64px; height:66px}
    .form-input input::-webkit-input-placeholder {color:#8A8A8A}
    .form-input input::-moz-placeholder {color:#8A8A8A}
    .form-input input:-ms-input-placeholder {color:#8A8A8A}
}

.message {margin:20px 0; padding:21px 30px 21px 21px; text-align:left}
.message::after {content:""; display:block; clear:both}
.message-title {font-weight:500; font-size:18px; line-height:27px; position:relative; float:left; width:140px; margin:3px 0 0 50px}
.message-title::before {content:""; display:block; position:absolute; left:-48px; top:-6px; width:38px; height:38px}
.message-text {margin:0 0 0 211px; color:#333; position:relative; min-height:48px; font-size:16px; line-height:24px; font-weight:300}
.message-text::before {content:""; display:block; position:absolute; left:-21px; top:0; bottom:0; width:1px}
.message-text p {margin:0}
.message-text p+p {margin-top:10px}

@media screen and (max-width:767px) {
    .message {margin:20px 0; padding:27px 30px 20px 30px}
    .message+.message {margin-top:-5px}
    .message-title {font-weight:500; font-size:20px; line-height:30px; float:none; width:auto; margin:0; padding:0 0 0 56px}
    .message-title::before {left:0; top:-3px}
    .message-text {margin:13px 0 0 0; min-height:0; font-size:18px; line-height:27px; font-weight:normal; color:#696969}
    .message-text::before {display:none}
}

.message-success {background:#edfbec; border:1px solid #75ff83}
.message-success .message-title {color:#53804f}
.message-success .message-title::before {background:url(../images/message-success.svg) no-repeat center}
.message-success .message-text::before {background:#53804f}
.message-error {background:#fef6f6; border:1px solid #ffd1cb}
.message-error .message-title::before {background:url(../images/message-error.svg) no-repeat center}
.message-error .message-title {color:#ec1d22}
.message-error .message-text::before {background:#ec1d22}

.container {margin:0 auto; padding:0 60px}
.container::after {content:""; display:block; clear:both}

@media screen and (min-width:1800px) {
    .container {padding:0 130px}
}

@media screen and (max-width:1199px) {
    .container {padding:0 20px}
}

.wrapper {width:100%; min-width:320px; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 120px 0}

@media screen and (max-width:1199px) {
    .wrapper-inner {padding:0 0 180px 0}
}

@media screen and (max-width:479px) {
    .wrapper-inner {padding:0 0 200px 0}
}

header {height:80px; background:#000000}
header::after {content:""; display:block; clear:both}

.logo {float:left; margin:20px 0 0 20px; width:98px}
.logo svg {display:block; width:98px; height:48px; fill:#FFFFFF}
.logo-title {float:left; margin:28px 0 0 44px; font-weight:300; font-size:20px; line-height:30px; color:#FFFFFF; text-transform:uppercase}

@media screen and (max-width:1199px) {
    .logo {margin:0; padding:16px 0 0 20px; width:141px}
    .logo svg {width:98px; height:48px}
    .logo-title {margin:27px 0 0 17px}
}

@media screen and (max-width:479px) {
    .logo-title {display:none}
}

.header-right {float:right}

.header-lang {float:right; margin:28px 50px 0 0; width:27px; height:27px; background:#FFFFFF; border-radius:50%; text-decoration:none; font-weight:500; font-size:12px; line-height:28px; text-align:center}

@media screen and (max-width:1199px) {
    .header-lang {float:left; margin:20px 0 0 0; width:40px; height:40px; font-size:18px; line-height:40px}
}

.header-search-link {float:right; margin:30px 30px 0 0; width:24px; height:24px; position:relative; transition:none}
.header-search-link svg {display:block; width:24px; height:24px; fill:none; stroke:#FFFFFF; transition:stroke 0.2s}
.header-search-link:hover svg {stroke:#D6D6D6}

@media screen and (max-width:1199px) {
    .header-search-link {margin:23px 20px 0 20px; width:34px; height:34px}
    .header-search-link svg {width:34px; height:34px}
}

.header-search {position:absolute; left:121px; top:0; right:0; height:80px; z-index:2; background:#FFFFFF; visibility:hidden; opacity:0; transition:visibility 0.2s, opacity 0.2s}
.header-search-open .header-search {visibility:visible; opacity:1}
.header-search form {margin:0; padding:17px 159px 0 30px; position:relative}
.header-search-inner {position:relative}
.header-search-inner .form-input {margin:0}
.header-search-inner .form-input svg {display:none}
.header-search-inner .form-input input {padding-left:15px; padding-right:50px; background:#FFFFFF}
.header-search-submit {position:absolute; right:0; top:0}
.header-search-submit button {display:block; margin:0; padding:0; overflow:visible; outline:none; width:50px; height:44px; background:transparent; border:none; border-radius:0; position:relative; -webkit-appearance:none; cursor:pointer; box-sizing:border-box; font-size:0; line-height:0}
.header-search-submit button svg {display:block; position:absolute; left:50%; top:50%; width:26px; height:26px; margin:-13px 0 0 -13px; fill:none; stroke:#B6B6B6; transition:stroke 0.2s}
.header-search-submit button:hover svg {stroke:#000000}
.header-search-close {position:absolute; right:0; top:0; width:143px; height:80px}
.header-search-close svg {display:block; position:absolute; left:50%; top:50%; width:25px; height:24px; margin:-12px 0 0 -12.5px; stroke:#000000; stroke-width:2px; transition:stroke 0.2s}
.header-search-close:hover svg {stroke:#FF2F66}

@media screen and (max-width:1199px) {
    .header-search {position:fixed; left:0; height:auto; bottom:0; z-index:990; background:rgba(0, 0, 0, 0.8)}
    .header-search form {padding:89px 20px 0 20px; position:absolute; left:0; top:0; right:0; bottom:0}
    .header-search-inner {z-index:1}
    .header-search-inner .form-input {position:relative}
    .header-search-inner .form-input input {height:66px; font-size:20px}
    .header-search-inner .form-input svg {display:block; position:absolute; right:10px; top:16px; width:34px; height:34px; fill:none; stroke:#B6B6B6; pointer-events:none}
    .header-search-submit {position:relative; right:0; top:0; margin:30px 0 0 0}
    .header-search-submit button {width:100%; height:66px; border:3px solid #FFFFFF; font:600 20px/60px Arial, sans-serif; text-align:center; text-transform:uppercase; color:#FFFFFF; letter-spacing:0.05em}
    .fonts-loaded .header-search-submit button {font-family:GraphikLCG, sans-serif}
    .header-search-submit button svg {display:none}
    .header-search-close {right:0; top:0; width:100%; height:100%}
    .header-search-close svg {left:auto; right:14px; top:30px; width:24px; height:23px; margin:0; stroke:#FFFFFF; stroke-width:3px}
}

.welcome-slider {position:relative; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; overflow:hidden; background:#F7F2F0}
.welcome-slider-item {display:inline-block; vertical-align:top; width:100%; white-space:normal}
.welcome-slider-item-container {position:relative}
.welcome-slider-item-bg {position:absolute; left:0; top:0; right:0; bottom:0; overflow:hidden}
.welcome-slider-item-bg img {display:block; position:absolute; left:50%; bottom:0; max-width:none; transform:translateX(-50%)}
.welcome-slider-item-bg-tablet {display:none}
.welcome-slider-item-bg-mobile {display:none}
.welcome-slider-item-container .container {position:relative}
.welcome-slider-item-content {position:relative; padding:102px 60px 80px 60px}
.welcome-slider-item-content-page {padding-top:40px; padding-bottom:154px}
.welcome-slider-item-top {margin:0 0 90px 0; letter-spacing:0}
.welcome-slider-item-top::after {content:""; display:block; clear:both}
.welcome-slider-item-top-back {float:left; height:44px; padding:0 20px; background:#FFFFFF; color:#000000; font-weight:500; font-size:12px; line-height:44px; text-transform:uppercase; transition:color 0.2s, background 0.2s; text-decoration:none}
.welcome-slider-item-top-back:hover {background:#000000; color:#FFFFFF}
.welcome-slider-item-top-back svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:13px; height:14px; fill:#000000; transition:fill 0.2s}
.welcome-slider-item-top-back:hover svg {fill:#FFFFFF}
.welcome-slider-item-top-favorite {float:right; height:44px; padding:0 20px; background:#FFFFFF; color:#000000; font-weight:500; font-size:12px; line-height:44px; text-transform:uppercase; transition:color 0.2s, background 0.2s; text-decoration:none}
.welcome-slider-item-top-favorite:hover {background:#000000; color:#FFFFFF}
.welcome-slider-item-top-favorite svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:24px; height:24px; fill:#000000; transition:fill 0.2s}
.welcome-slider-item-top-favorite:hover svg {fill:#FFFFFF}
.welcome-slider-item-header {font-size:24px; line-height:31px; color:#818382; letter-spacing:0}
.welcome-slider-item-header strong {font-weight:normal; color:#353F56}
.welcome-slider-item-header span {margin:0 15px}
.welcome-slider-item-title {margin:79px 0 0 0; color:#353F56; font-weight:bold; font-size:60px; line-height:78px; letter-spacing:0; text-transform:uppercase; max-width:980px}
.welcome-slider-item-content-page .welcome-slider-item-title {margin:40px 0 0 0}
.welcome-slider-item-subtitle {margin:15px 0 0 0; color:#353F56; font-weight:300; font-size:30px; line-height:39px; letter-spacing:0; text-transform:uppercase; max-width:980px}
.welcome-slider-item-place {margin:64px 0 0 0; color:#353F56; font-size:24px; line-height:31px; letter-spacing:0}
.welcome-slider-item-content-page .welcome-slider-item-place {margin:50px 0 0 0}
.welcome-slider-item-place svg {display:inline-block; vertical-align:middle; margin:-2px 9px 0 4px; width:24px; height:24px; fill:#353F56}
.welcome-slider-item-btn {margin:40px 0 0 0}
.welcome-slider-item-btn a {display:inline-block; vertical-align:top; border:2px solid #435391; height:52px; padding:0 18px; text-transform:uppercase; color:#435391; text-decoration:none; font-weight:600; font-size:16px; line-height:48px; letter-spacing:0.05em; transition:color 0.2s, background 0.2s}
.welcome-slider-item-btn a:hover {color:#FFFFFF; background:#435391}
.welcome-slider-item-btn a svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:30px; height:30px; fill:#435391; transition:fill 0.2s}
.welcome-slider-item-btn a:hover svg {fill:#FFFFFF}
.welcome-slider .slick-dots {position:absolute; left:50%; bottom:53px; transform:translateX(-50%); white-space:nowrap; margin:0; padding:0; list-style:none; text-align:center; font-size:0; line-height:0; letter-spacing:-1px}
.welcome-slider .slick-dots li {margin:0 0 0 15px; padding:0; display:inline-block; vertical-align:top; position:relative}
.welcome-slider .slick-dots li::before {display:none}
.welcome-slider .slick-dots li:first-child {margin:0}
.welcome-slider .slick-dots li button {display:block; position:relative; width:13px; height:13px; border-radius:50%; border:3px solid #435391; background:transparent; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px; transition:background 0.2s}
.welcome-slider .slick-dots li.slick-active button {background:#435391}

@media screen and (min-width:1600px) {
    .welcome-slider-item-content {padding-left:130px; padding-right:130px}
}

@media screen and (max-width:1199px) {
    .welcome-slider-item-bg {display:none}
    .welcome-slider-item-bg-tablet {display:block; left:0; top:0; right:0; bottom:0; overflow:hidden}
    .welcome-slider-item-bg-tablet img {display:block; position:absolute; right:0; bottom:0; max-width:none}
    .welcome-slider-item-content {padding:184px 220px 77px 20px}
    .welcome-slider-item-content-page {padding-top:20px; padding-bottom:76px}
    .welcome-slider-item-top {margin:0 -200px 120px 0}
    .welcome-slider-item-header {font-size:20px; line-height:26px}
    .welcome-slider-item-header strong {display:block; margin:0 0 5px 0}
    .welcome-slider-item-header span {display:none}
    .welcome-slider-item-title {margin:20px 0 0 0; font-size:48px; line-height:62px}
    .welcome-slider-item-content-page .welcome-slider-item-title {margin:20px 0 0 0}
    .welcome-slider-item-subtitle {margin:9px 0 0 0; font-size:18px; line-height:27px}
    .welcome-slider-item-place {margin:20px 0 0 0; font-size:20px; line-height:26px}
    .welcome-slider-item-place svg {margin-left:0}
    .welcome-slider-item-btn {margin:0; position:absolute; left:20px; top:20px}
    .welcome-slider-item-btn a {background:#FFFFFF; border:none; height:44px; padding:0 20px; font-weight:500; font-size:12px; line-height:44px; color:#000000}
    .welcome-slider-item-btn a svg {width:24px; height:24px; fill:#000000}
    .welcome-slider .slick-dots {bottom:19px}
}

@media screen and (max-width:767px) {
    .welcome-slider-item-bg-tablet {display:none}
    .welcome-slider-item-bg-mobile {display:block; left:0; top:0; right:0; bottom:0; overflow:hidden}
    .welcome-slider-item-bg-mobile img {display:block; position:absolute; left:0; top:-100px; max-width:none}
    .welcome-slider-item-top {margin:0 0 120px 0}
    .welcome-slider-item-content {padding-right:20px}
}

.forums {margin:50px 0 0 0}
.forums-item {display:block; margin:40px 0 0 0; text-decoration:none; height:345px; position:relative; overflow:hidden; color:#FFFFFF}
.forums-item:hover {color:#FFFFFF}
.forums-item-bg {position:absolute; left:0; top:0; right:0; bottom:0; background:no-repeat center; background-size:cover; transition:transform 0.5s}
.forums-item:hover .forums-item-bg {transform:scale(1.086)}
.forums-item-container {position:absolute; left:50px; bottom:40px; right:180px}
.forums-item-header {font-size:18px; line-height:23px}
.forums-item-header strong {font-weight:normal}
.forums-item-header span {margin:0 15px}
.forums-item-name {margin:40px 0 0 0; font-weight:500; font-size:30px; line-height:42px}
.forums-item-text {display:inline; background:rgba(0, 0, 0, 0.8); padding:6px 0; box-shadow:-20px 0 0 rgba(0, 0, 0, 0.8), 20px 0 0 rgba(0, 0, 0, 0.8)}
.forums-item-count {position:absolute; right:30px; bottom:30px; height:44px; background:#000000; opacity:0.8; padding:0 20px; font-weight:500; font-size:18px; line-height:44px; letter-spacing:0.05em}
.forums-item-count svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:30px; height:30px; fill:#FFFFFF}

@media screen and (max-width:1199px) {
    .forums {margin:54px -20px 0 -20px}
    .forums-item {margin:30px 0 0 0}
    .forums-item-container {position:absolute; left:0; bottom:0; right:0; top:0}
    .forums-item-header {position:absolute; left:30px; top:23px}
    .forums-item-header span {display:block; font-size:0; line-height:0; color:rgba(0, 0, 0, 0); height:5px}
    .forums-item-text {padding:5px 0; box-shadow:-10px 0 0 rgba(0, 0, 0, 0.8), 10px 0 0 rgba(0, 0, 0, 0.8)}
    .forums-item-name {margin:0; position:absolute; left:30px; bottom:30px; right:30px; font-size:24px; line-height:34px}
    .forums-item-count {bottom:auto; top:20px; right:20px; height:30px; padding:0 10px; line-height:30px}
    .forums-item-count svg {width:20px; height:20px}
}

.filter {margin:40px 0 0 0}
.filter form {margin:0; padding:0}

@media screen and (max-width:1199px) {
    .filter {margin:60px 0 0 0}
}

.filter-dates {background:#FAFAFA; padding:0 80px}
.filter-dates-content {height:169px; position:relative}
.filter-dates-line {position:absolute; top:0; bottom:0; width:1px; background:#DADADA}
.filter-dates-line::before {content:""; display:block; position:absolute; left:0; top:51px; bottom:41px; right:0; background:#FAFAFA}
.filter-dates-month {position:absolute; left:10px; top:10px; font-size:12px; line-height:16px; color:#A5A5A5}
.filter-dates-list {position:absolute; left:0; top:51px; bottom:41px; right:0; pointer-events:none}
.filter-dates-list-date {position:absolute; top:31px; width:1px; height:9px; background:#000000}
.filter-dates-list-date span {position:absolute; left:50%; top:-26px; transform:translateX(-50%); font-size:12px; line-height:16px; color:#000000}
.filter-dates-list-date strong {position:absolute; left:50%; top:19px; transform:translateX(-50%); font-size:14px; line-height:18px; color:#000000; font-weight:normal}
.filter-dates-list-date-future {background:#A5A5A5}
.filter-dates-list-date-future span {color:#A5A5A5}
.filter-dates-list-date-future strong {color:#A5A5A5}
.filter-dates-list-date-today {background:none}
.filter-dates-list-date-today::before {content:""; display:block; position:absolute; left:-10px; top:-8px; width:20px; height:20px; border:5px solid #FFFFFF; background:#FB2D60; border-radius:50%}
.filter-dates-list-date-today em {font-style:normal; display:block; position:absolute; left:50%; top:-55px; transform:translateX(-50%); white-space:nowrap; height:19px; background:#FB2D60; padding:0 10px; font-size:12px; line-height:19px; border-radius:2px; color:#FFFFFF}
.filter-dates-list-date-today em::before {content:""; display:block; width:10px; height:10px; background:#FB2D60; border-radius:2px; position:absolute; left:50%; bottom:-4px; margin-left:-5px; transform:rotate(45deg); z-index:-1}

@media screen and (max-width:1199px) {
    .filter-dates {background:none; padding:0; position:relative}
    .filter-dates-content {display:none}
}

.filter-dates-current {display:none}
.filter-dates-mobile-list {display:none}

@media screen and (max-width:1199px) {
    .filter-dates-current {display:block; border:1px solid #000000; position:relative; height:50px; padding:0 50px 0 15px; cursor:pointer}
    .filter-dates-current span {display:block; white-space:nowrap; position:relative; overflow:hidden; text-overflow:ellipsis; font-weight:normal; font-size:16px; line-height:48px; letter-spacing:0; color:#000000}
    .filter-dates-current svg {display:block; width:17px; height:15px; fill:#000000; position:absolute; right:16px; top:18px}
    .filter-dates.mobile-open .filter-dates-current svg {transform:rotate(-180deg)}
    .filter-dates-mobile-list {z-index:999; position:absolute; left:0; top:100%; margin:-1px 0 0 0; right:0; background:#FFFFFF; border:1px solid #000000; max-height:250px; overflow:auto; padding:20px; font-size:0; line-height:0; letter-spacing:-1px}
    .filter-dates.mobile-open .filter-dates-mobile-list {display:block}
    .filter-dates-mobile-item {display:inline-block; width:25%; vertical-align:top; cursor:pointer; height:44px; font-size:14px; line-height:42px; text-align:center; letter-spacing:0; color:#A5A5A5; border:1px solid #FFFFFF}
    .filter-dates-mobile-item.disabled {pointer-events:none; color:#DADADA}
    .filter-dates-mobile-item.active {background:#F7F7F7; color:#000000; border-color:#F7F7F7}
    .filter-dates-mobile-item.active.from {background:#000000; color:#FFFFFF}
    .filter-dates-mobile-item.active.to {border-color:#000000}
}

.filter-slider {position:absolute; left:0; top:82px; right:0}
.filter-slider-range {position:relative; height:4px; background:#EEEEEE}
.filter-slider-range-active {position:absolute; left:0; top:0; bottom:0; background:#DADADA}
.filter-slider-range-inner {position:relative}
.filter-slider-params {display:none}

.filter-tags {margin:20px 0 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.filter-tags-current {display:none}
.filter-tags-list {display:inline}
.filter-tags-list label {display:inline-block; vertical-align:top; margin:10px 0 0 10px; cursor:pointer}
.filter-tags-list label:nth-child(n+17) {display:none}
.filter-tags.open .filter-tags-list label:nth-child(n+17) {display:inline-block}
.filter-tags-list label input {display:none}
.filter-tags-list label span {display:block; padding:11px 12px; background:#EEEEEE; color:#414141; font-size:14px; line-height:21px; letter-spacing:0; transition:background 0.2s, color 0.2s}
.filter-tags-list label input:checked+span {background:#000000; color:#FFFFFF}
.filter-tags-more {display:none}
.filter-tags-more.visible {display:inline}
.filter-tags-more a {display:inline-block; vertical-align:top; margin:10px 0 0 10px; cursor:pointer; padding:11px 12px; font-size:14px; line-height:21px; letter-spacing:0; color:#414141; text-decoration:none}
.filter-tags-more a span {border-bottom:1px dashed #414141; transition:border-color 0.2s}
.filter-tags-more a:hover span {border-bottom-color:transparent}
.filter-tags-more a span:nth-child(2) {display:none}
.filter-tags.open .filter-tags-more a span:nth-child(1) {display:none}
.filter-tags.open .filter-tags-more a span:nth-child(2) {display:inline}

@media screen and (max-width:1199px) {
    .filter-tags {margin:20px 0 0 0; position:relative}
    .filter-tags-current {display:block; border:1px solid #000000; position:relative; height:50px; padding:0 50px 0 15px; cursor:pointer}
    .filter-tags-current span {display:block; white-space:nowrap; position:relative; overflow:hidden; text-overflow:ellipsis; font-weight:normal; font-size:16px; line-height:48px; letter-spacing:0; color:#000000}
    .filter-tags-current svg {display:block; width:17px; height:15px; fill:#000000; position:absolute; right:16px; top:18px}
    .filter-tags.mobile-open .filter-tags-current svg {transform:rotate(-180deg)}
    .filter-tags-list {display:none; z-index:999; position:absolute; left:0; top:100%; margin:-1px 0 0 0; right:0; background:#FFFFFF; border:1px solid #000000; max-height:250px; overflow:auto}
    .filter-tags.mobile-open .filter-tags-list {display:block}
    .filter-tags-list label {display:block; margin:0; cursor:pointer; border-top:1px solid #000000}
    .filter-tags-list label:first-child {border-top:none}
    .filter-tags-list label:nth-child(n+17) {display:block}
    .filter-tags.open .filter-tags-list label:nth-child(n+17) {display:block}
    .filter-tags-list label span {padding:11px 20px 11px 41px; position:relative; color:#414141; background:#FFFFFF}
    .filter-tags-list label input:checked+span {background:#FFFFFF; color:#000000}
    .filter-tags-list label span::before {content:""; display:block; width:20px; height:20px; border:1px solid #C8C9CC; position:absolute; left:11px; top:11px; background:url(../images/checkbox.svg) no-repeat -999px -999px}
    .filter-tags-list label input:checked+span::before {background-color:#000000; border-color:#000000; background-position:center}
    .filter-tags-more.visible {display:none}
}

.events-wrap {position:relative}
.events-wrap.loading::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.5) url(../images/loading.gif) no-repeat center 20px}
.events {margin:30px -10px -40px -10px; font-size:0; line-height:0; letter-spacing:-1px}
.events-item {display:inline-block; vertical-align:top; width:33.33%; padding:0 10px 40px 10px}
.events-item a {display:block; text-decoration:none}
.events-item-bg {height:233px; position:relative; background:no-repeat center; background-size:cover}
.events-item-date {position:absolute; left:10px; top:10px; padding:0 15px; height:30px; font-size:14px; line-height:30px; letter-spacing:0; color:#FFFFFF; background:rgba(0, 0, 0, 0.8)}
.events-item-count {position:absolute; right:10px; top:10px; padding:0 10px; height:30px; font-weight:500; font-size:14px; line-height:30px; letter-spacing:0.05em; color:#FFFFFF; background:#000000; opacity:0.8}
.events-item-count svg {display:inline-block; vertical-align:middle; margin:-2px 2px 0 0; width:24px; height:24px; fill:#FFFFFF}
.events-item-title {margin:10px 0 0 0; font-size:18px; line-height:25px; letter-spacing:0}

@media screen and (min-width:1800px) {
    .events-item {width:25%}
}

@media screen and (max-width:1199px) {
    .events {margin:40px 0 0 0}
    .events-item {display:block; margin:30px 0 0 0; width:auto; padding:0}
}

.pager {margin:60px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px; text-align:center}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:40px; height:40px; font-weight:normal; font-size:18px; line-height:38px; border:1px solid transparent; color:#373737; text-decoration:none; text-align:center; position:relative; margin:0 2px; transition:border-color 0.2s, color 0.2s, background 0.2s}
.pager a:hover {border-color:#000000}
.pager a.pager-prev {margin:0; position:relative}
.pager a.pager-next {position:relative}
.pager a.pager-prev svg,
.pager a.pager-next svg {display:block; position:absolute; left:50%; top:50%; width:7px; height:13px; stroke:#3c3c3c; transform:translate(-50%, -50%); fill:none}
.pager a.active {color:#FFFFFF; border-color:#000000; font-weight:500; background:#000000}

@media screen and (max-width:1199px) {
    .pager {margin:40px 0 0 0}
}

.paging {margin:60px 0 0 0; position:relative}
.paging .pager {margin:0}
.page-size {position:absolute; right:0; top:0}
.page-size-title {float:left; font-size:16px; line-height:40px; font-weight:normal; color:#828282}
.page-size-value {float:left; margin:0 0 0 12px; width:80px}
.page-size-select {position:relative}
.page-size-select-current {position:relative; height:40px; border:1px solid #000000; cursor:pointer; font-weight:normal; white-space:nowrap; font-size:16px; line-height:38px; padding:0 26px 0 0; color:#000000; text-align:center}
.page-size-select-current span {display:block; position:relative; overflow:hidden; text-overflow:ellipsis}
.page-size-select-current svg {display:block; width:18px; height:18px; position:absolute; right:10px; top:50%; margin-top:-9px; fill:#000000}
.page-size-select-list {display:none; position:absolute; left:0; bottom:100%; right:0; background:#fff; z-index:89; box-shadow:0px -10px 25px rgba(28, 72, 163, 0.1); font-size:16px; line-height:21px; font-weight:normal; border:1px solid #000000; border-bottom:none}
.page-size-select.open .page-size-select-list {display:block}
.page-size-select-item {border-top:1px solid #e6e6e6}
.page-size-select-item:first-child {border-top:none}
.page-size-select-item label {cursor:pointer; display:block; position:relative}
.page-size-select-item label input {display:none}
.page-size-select-item label span {display:block; padding:9px 14px; color:#000000; transition:background 0.2s, color 0.2s; position:relative}
.page-size-select-item label:hover span {background:#F4F4F4}
.page-size-select-item label input:checked+span {background:#F4F4F4; color:#000000}

@media screen and (max-width:1199px) {
    .paging {margin:40px 0 0 0}
    .paging::after {content:""; display:block; clear:both}
    .page-size {float:right; position:relative; right:auto; top:auto; margin:30px 0 0 0}
}

.event-header {margin:40px 0 0 0}
.event-header::after {content:""; display:block; clear:both}
.event-header-back {float:left; height:44px; padding:0 20px; background:#F4F4F4; color:#000000; font-weight:500; font-size:12px; line-height:44px; text-transform:uppercase; transition:color 0.2s, background 0.2s; text-decoration:none}
.event-header-back:hover {background:#000000; color:#FFFFFF}
.event-header-back svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:13px; height:14px; fill:#000000; transition:fill 0.2s}
.event-header-back:hover svg {fill:#FFFFFF}
.event-header-favorite {float:right; height:44px; padding:0 20px; background:#F4F4F4; color:#000000; font-weight:500; font-size:12px; line-height:44px; text-transform:uppercase; transition:color 0.2s, background 0.2s; text-decoration:none}
.event-header-favorite:hover {background:#000000; color:#FFFFFF}
.event-header-favorite svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:24px; height:24px; fill:#000000; transition:fill 0.2s}
.event-header-favorite:hover svg {fill:#FFFFFF}

@media screen and (min-width:1800px) {
    .event-header-back {height:60px; font-size:18px; line-height:60px}
    .event-header-favorite {height:60px; font-size:18px; line-height:60px}
}

@media screen and (max-width:1199px) {
    .event-header {margin:20px 0 0 0}
    .event-header-back {height:auto; padding:17px 20px; line-height:16px}
    .event-header-favorite {display:none}
}

.event-title {margin:30px 0 0 0; text-align:center; font-size:30px; line-height:45px}

@media screen and (max-width:1199px) {
    .event-title {margin:40px 0 0 0; text-align:left}
}

.event-info {margin:15px 0 0 0; text-align:center; font-size:18px; line-height:22px; color:#9C9C9C}
.event-info span {margin:0 20px}

@media screen and (min-width:1800px) {
    .event-info {margin:30px 0 0 0; font-size:22px; line-height:31px}
}

@media screen and (max-width:1199px) {
    .event-info {text-align:left; line-height:25px}
}

@media screen and (max-width:767px) {
    .event-info {margin:20px 0 0 0}
}

@media screen and (max-width:479px) {
    .event-info span {display:block; font-size:0; line-height:0; margin:0; height:5px}
}

.event-ctrl {margin:40px 0 0 0}
.event-ctrl::after {content:""; display:block; clear:both}
.event-ctrl-views {float:right; padding:15px 0 0 0}
.event-ctrl-views a {float:left; margin:0 0 0 20px}
.event-ctrl-views a:first-child {margin:0}
.event-ctrl-views a svg {display:block; width:19px; height:14px; fill:#C4C4C4; transition:fill 0.2s}
.event-ctrl-views a.event-ctrl-views-2 svg {width:21px}
.event-ctrl-views a.active svg {fill:#000000}
.event-ctrl-download {margin:0 150px; text-align:center}
.event-ctrl-download a {display:inline-block; vertical-align:top; height:44px; border:2px solid #000000; padding:0 18px; color:#000000; text-decoration:none; font-weight:600; font-size:14px; line-height:40px; letter-spacing:0.05em; text-transform:uppercase; transition:color 0.2s, background 0.2s}
.event-ctrl-download a:hover {background:#000000; color:#FFFFFF}
.event-ctrl-download a svg {display:inline-block; vertical-align:middle; margin:-2px 6px 0 0; width:24px; height:24px; fill:#000000; transition:fill 0.2s}
.event-ctrl-download a:hover svg {fill:#FFFFFF}

@media screen and (max-width:1199px) {
    .event-ctrl {margin:20px 0 0 0}
    .event-ctrl-views a {margin:0 0 0 35px}
    .event-ctrl-views a:first-child {margin:0}
    .event-ctrl-views a svg {width:26px; height:20px}
    .event-ctrl-views a.event-ctrl-views-2 svg {width:28px}
    .event-ctrl-views-3 {display:none}
    .event-ctrl-views-4 {display:none}
    .event-ctrl-download {float:left; margin:0}
    .event-ctrl-download a {height:50px; line-height:46px}
}

@media screen and (max-width:479px) {
    .event-ctrl-download {clear:left; width:100%; margin:20px 0 0 0}
    .event-ctrl-download a {padding:0; display:block; width:100%; text-align:center}
}

.event-photos {margin:40px -10px -20px -10px; font-size:0; line-height:0; letter-spacing:-1px}
.event-photos-item {display:inline-block; vertical-align:top; width:25%}
.event-photos-item-inner {position:relative; margin:0 10px 20px 10px}
.event-photos-item-img {height:183px; position:relative; background:no-repeat center; background-size:cover}
.event-photos-item-img::before {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:#000000; opacity:0; transition:opacity 0.2s}
.event-photos-item-inner:hover .event-photos-item-img::before {opacity:0.8}
.event-photos-item-zoom {display:block; position:absolute; left:0; top:0; right:0; bottom:0}
.event-photos-item-info {position:absolute; left:20px; top:20px; opacity:0; transition:opacity 0.2s; pointer-events:none}
.event-photos-item-inner:hover .event-photos-item-info {opacity:1}
.event-photos-item-id {font-size:16px; line-height:22px; letter-spacing:0; color:#9C9C9C}
.event-photos-item-descr {display:none}
.event-photos-item-download {position:absolute; right:13px; top:11px; width:40px; height:40px; background:#373737; transition:background 0.2s, opacity 0.2s; opacity:0}
.event-photos-item-inner:hover .event-photos-item-download {opacity:1}
.event-photos-item-download:hover {background:transparent}
.event-photos-item-download svg {display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; fill:#FFFFFF}
.event-photos-item-print {position:absolute; left:20px; bottom:25px; transition:opacity 0.2s; opacity:0}
.event-photos-item-inner:hover .event-photos-item-print {opacity:1}
.event-photos-item-print svg {display:block; width:20px; height:20px; fill:#FFFFFF; transition:fill 0.2s}
.event-photos-item-print:hover svg {fill:#FF2F66}
.event-photos-item-email {position:absolute; left:90px; bottom:25px; transition:opacity 0.2s; opacity:0}
.event-photos-item-inner:hover .event-photos-item-email {opacity:1}
.event-photos-item-email svg {display:block; width:20px; height:20px; fill:#FFFFFF; transition:fill 0.2s}
.event-photos-item-email:hover svg {fill:#FF2F66}
.event-photos-item-share {position:absolute; left:160px; bottom:25px; transition:opacity 0.2s; opacity:0}
.event-photos-item-inner:hover .event-photos-item-share {opacity:1}
.event-photos-item-share-icon svg {display:block; width:20px; height:20px; fill:#FFFFFF; transition:fill 0.2s}
.event-photos-item-share .window-photo-social-window {display:none; top:auto; bottom:100%; margin:0 0 16px 0}
.event-photos-item-share .window-photo-social-window::before {top:auto; bottom:-7px}
.event-photos-item-share .window-photo-social-window::after {top:auto; bottom:-16px}
.event-photos-item-share:hover .window-photo-social-window {display:block}
.event-photos-item-favorite {position:absolute; left:230px; bottom:25px; transition:opacity 0.2s; opacity:0}
.event-photos-item-favorite.active,
.event-photos-item-inner:hover .event-photos-item-favorite {opacity:1}
.event-photos-item-favorite svg {display:block; width:20px; height:20px; fill:#FFFFFF; transition:fill 0.2s}
.event-photos-item-favorite:hover svg {fill:#FF2F66}
.event-photos-item-favorite svg:nth-child(2) {display:none}
.event-photos-item-favorite.active svg:nth-child(1) {display:none}
.event-photos-item-favorite.active svg:nth-child(2) {display:inline-block; fill:#FF2F66}
.event-photos-item-data {display:none}

@media screen and (max-width:1199px) {
    .event-photos {margin:30px -10px -20px -10px}
    .event-photos-item {width:50%}
    .event-photos-item-img::before {display:none}
    .event-photos-item-info {display:none}
    .event-photos-item-download {display:none}
    .event-photos-item-print {display:none}
    .event-photos-item-email {display:none}
    .event-photos-item-share {display:none}
    .event-photos-item-favorite {display:none}
}

@media screen and (max-width:479px) {
    .event-photos-item {width:100%}
}

.event-photos-item-data-list {display:table; width:100%; font-weight:normal; font-size:16px; line-height:22px; letter-spacing:0}
.event-photos-item-data-list-row {display:table-row}
.event-photos-item-data-list-row-name {display:table-cell; vertical-align:top; white-space:nowrap; padding:10px 0 0 0; color:#979797}
.event-photos-item-data-list-row-value {display:table-cell; vertical-align:top; padding:10px 0 0 20px; width:100%; color:#FFFFFF}
.event-photos-item-data-tags {margin:10px 0 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.event-photos-item-data-tags a,
.event-photos-item-data-tags span {display:inline-block; vertical-align:top; margin:10px 0 0 10px; padding:4px 11px; border:1px solid #FFFFFF; font-weight:normal; font-size:14px; line-height:21px; letter-spacing:0; color:#FFFFFF; text-decoration:none; transition:color 0.2s, background 0.2s}
.event-photos-item-data-tags a:hover {background:#FFFFFF; color:#000000}

.event-photos.event-photos-view-2 .event-photos-item {width:50%}
.event-photos.event-photos-view-2 .event-photos-item-inner {background:#fafafa; overflow:hidden; position:relative}
.event-photos.event-photos-view-2 .event-photos-item-img {float:left; width:275px; height:200px}
.event-photos.event-photos-view-2 .event-photos-item-info {float:left; width:calc(100% - 275px); padding:20px; position:relative; left:auto; top:auto; opacity:1}
.event-photos.event-photos-view-2 .event-photos-item-descr {display:block; margin:13px 0 0 0; font-size:16px; line-height:22px; letter-spacing:0; color:#000000; max-height:132px; overflow:hidden; position:relative}
.event-photos.event-photos-view-2 .event-photos-item-download {right:auto; left:13px}

@media screen and (max-width:1199px) {
    .event-photos.event-photos-view-2 .event-photos-item {width:100%}
    .event-photos.event-photos-view-2 .event-photos-item-img {width:210px; height:183px}
    .event-photos.event-photos-view-2 .event-photos-item-info {width:calc(100% - 210px)}
}

@media screen and (max-width:479px) {
    .event-photos.event-photos-view-2 .event-photos-item-img {float:none; width:auto}
    .event-photos.event-photos-view-2 .event-photos-item-info {float:none; width:auto}
}

.event-photos.event-photos-view-3 .event-photos-item:nth-child(4n - 3) {width:25%}
.event-photos.event-photos-view-3 .event-photos-item:nth-child(4n - 2) {width:75%}
.event-photos.event-photos-view-3 .event-photos-item:nth-child(4n - 1) {width:50%}
.event-photos.event-photos-view-3 .event-photos-item:nth-child(4n) {width:50%}
.event-photos.event-photos-view-3 .event-photos-item-img {height:387px}

.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 6) {width:25%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 6) .event-photos-item-img {height:387px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 5) {width:50%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 5) .event-photos-item-img {height:445px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 4) {width:25%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 4) .event-photos-item-img {height:183px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 3) {width:25%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 3) .event-photos-item-img {height:387px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 1) {width:50%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 1) .event-photos-item-img {height:328px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 2) {width:25%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n - 2) .event-photos-item-img {height:387px}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n) {width:25%}
.event-photos.event-photos-view-4 .event-photos-item:nth-child(7n) .event-photos-item-img {height:183px}
.event-photos.event-photos-view-4 .event-photos-item-img {height:387px}

.favorite-header {margin:40px 0 0 0}
.favorite-header::after {content:""; display:block; clear:both}
.favorite-header h1 {float:left; margin:0; font-size:50px; line-height:65px}
.favorite-header .event-ctrl-download {float:right; margin:11px 0 0 0; text-align:center}
.favorite-header+.event-ctrl {margin:30px 0 0 0}
.favorite-header+.event-ctrl .event-ctrl-views {padding:0}

@media screen and (max-width:1199px) {
    .favorite-header h1 {float:none; font-size:30px; line-height:45px}
    .favorite-header .event-ctrl-download {float:left; margin:20px 0 0 0}
    .favorite-header+.event-ctrl {height:0; margin:0}
    .favorite-header+.event-ctrl .event-ctrl-views {margin:-35px 0 0 0}
}

@media screen and (max-width:479px) {
    .favorite-header+.event-ctrl {height:auto; margin:20px 0 0 0}
    .favorite-header+.event-ctrl .event-ctrl-views {margin:0}
}

footer {margin:-60px 0 0 0; height:60px; border-top:1px solid #E7E7E7; background:#FFFFFF; position:relative; padding:19px 20px 0 20px}

@media screen and (max-width:1199px) {
    footer {margin:-120px 0 0 0; height:120px; text-align:center}
}

@media screen and (max-width:479px) {
    footer {margin:-140px 0 0 0; height:140px}
}

.copyrights {float:left; font-size:14px; line-height:21px; font-weight:300}
.policy {float:right; font-size:12px; line-height:18px; font-weight:300}
.policy a {font-weight:500; text-decoration:none}

@media screen and (max-width:1199px) {
    .copyrights {float:none; padding:0; font-size:18px; line-height:27px}
    .policy {float:none; margin:7px 0 0 0; font-size:18px; line-height:27px}
}

@media screen and (max-width:479px) {
    .copyrights {font-size:16px; line-height:24px}
    .policy {font-size:16px; line-height:24px}
}

.window-photo-open,
.window-photo-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}

.window-photo {position:fixed; left:0; top:0; right:0; bottom:0; z-index:9999; background:#000000}
.window-photo-preview {position:fixed; left:0; top:0; bottom:0; z-index:99; width:166px}
.window-photo-preview-inner {position:absolute; left:0; top:0; right:0; bottom:0; overflow:auto}
.window-photo-preview-list {margin:0 0 0 20px; width:120px}
.window-photo-preview-list-item {padding:4px 0}
.window-photo-preview-list-item a {display:block; position:relative; height:90px; background:no-repeat center; background-size:cover}
.window-photo-preview-list-item a::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:4px solid #FF2F66; opacity:0; transition:all 0.2s}
.window-photo-preview-list-item a:hover::after,
.window-photo-preview-list-item.active a::after {opacity:1}
.window-photo-preview .mCSB_inside > .mCSB_container {margin:0}
.window-photo-preview .mCSB_scrollTools {opacity:1; width:6px}
.window-photo-preview .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background:#98D5C4; border-radius:3px}
.window-photo-preview .mCSB_scrollTools .mCSB_draggerRail {background:#535353; width:6px; border-radius:3px}

@media screen and (max-width:1199px) {
    .window-photo-preview {top:auto; right:0; width:auto; height:118px; bottom:20px}
    .window-photo-preview-list {margin:0; width:auto; display:inline-block; vertical-align:top; white-space:nowrap}
    .window-photo-preview-list-item {display:inline-block; vertical-align:top; padding:0 0 0 8px}
    .window-photo-preview-list-item a {width:120px}
    .window-photo-preview .mCSB_horizontal.mCSB_inside > .mCSB_container {margin-bottom:26px}
    .window-photo-preview .mCSB_scrollTools.mCSB_scrollTools_horizontal {height:6px}
    .window-photo-preview .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {margin:0; height:6px}
    .window-photo-preview .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {margin:0; height:6px}
}

.window-photo-close {display:block; position:absolute; right:20px; top:20px; z-index:1}
.window-photo-close svg {display:block; fill:none; stroke:#FFFFFF; transition:all 0.2s; width:15px; height:15px}
.window-photo-close:hover svg {stroke:#FF2F66}

@media screen and (max-width:1199px) {
    .window-photo-close svg {width:20px; height:20px}
}

.window-photo-download {display:block; position:absolute; right:58px; top:20px; z-index:1}
.window-photo-download svg {display:block; fill:none; stroke:#FFFFFF; transition:all 0.2s; width:17px; height:16px}
.window-photo-download:hover svg {stroke:#FF2F66}

@media screen and (max-width:1199px) {
    .window-photo-download {right:72px}
    .window-photo-download svg {width:24px; height:22px}
}

.window-photo-social {display:block; position:absolute; right:98px; top:20px; z-index:1}
.window-photo-social-icon svg {display:block; fill:none; stroke:#FFFFFF; transition:all 0.2s; width:17px; height:16px}
.window-photo-social-window {display:none; position:absolute; z-index:99; left:50%; top:100%; margin:16px 0 0 0; transform:translateX(-50%); font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; padding:11px 25px 0 25px; height:47px; background:#424242; box-shadow:6px 6px 20px rgba(36, 36, 36, 0.13)}
.window-photo-social-window::before {content:""; display:block; position:absolute; left:50%; top:-7px; width:14px; height:14px; background:#424242; margin-left:-7px; transform:rotate(45deg)}
.window-photo-social-window::after {content:""; display:block; position:absolute; left:0; top:-16px; right:0; height:16px; background:url(../images/blank.gif)}
.window-photo-social:hover .window-photo-social-window {display:block}
.window-photo-social-item {display:inline-block; vertical-align:top; width:24px; margin:0 0 0 30px; position:relative}
.window-photo-social-item:first-child {margin:0}
.window-photo-social-item svg {display:block; width:24px; height:24px; transition:all 0.2s; fill:#FFFFFF; transition:fill 0.2s}
.window-photo-social-item:hover svg {fill:#FF2F66}

@media screen and (max-width:1199px) {
    .window-photo-social {right:127px}
    .window-photo-social-icon svg {width:24px; height:22px}
}

.window-photo-slider {position:absolute; left:258px; top:0; right:91px; bottom:0; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.window-photo-slider-list {position:relative; overflow:hidden}
.window-photo-slider-list.slick-initialized {overflow:visible}
.window-photo-slider-list-item {display:inline-block; vertical-align:top; width:100%}
.window-photo-slider-list-item-header {height:53px}
.window-photo-slider-list-item-header::after {content:""; display:block; clear:both}
.window-photo-slider-list-item-header a {float:left; width:20px; height:20px; margin:18px 0 0 20px}
.window-photo-slider-list-item-header a:first-child {margin-left:0}
.window-photo-slider-list-item-header a svg {display:block; width:20px; height:20px; fill:#FFFFFF; transition:fill 0.2s}
.window-photo-slider-list-item-header a:hover svg {fill:#FF2F66}
.window-photo-slider-list-item-header a svg:nth-child(2) {display:none}
.window-photo-slider-list-item-header a.active svg:nth-child(1) {display:none}
.window-photo-slider-list-item-header a.active svg:nth-child(2) {display:inline-block; fill:#FF2F66}
.window-photo-slider-list-item-inner {display:block; width:100%; text-align:center}
.window-photo-slider .slick-slide img,
.window-photo-slider-list-item-inner img {display:inline-block; vertical-align:middle; max-height:100%}
.window-photo-slider-list-item-data {padding:10px 0 30px 0; position:relative; white-space:normal}
.window-photo-slider-list-item-data-id {position:absolute; right:0; top:20px; font-weight:normal; font-size:16px; line-height:22px; letter-spacing:0; color:#979797}

@media screen and (max-width:1199px) {
    .window-photo-slider {left:0; right:0}
    .window-photo-slider-list-item-header {height:60px; padding:0 0 0 20px}
    .window-photo-slider-list-item-header a {margin:18px 0 0 30px}
    .window-photo-slider-list-item-header a:first-child {margin-left:0}
    .window-photo-slider-list-item-header a svg {width:24px; height:24px}
    .window-photo-slider-list-item-data {padding:10px 0 192px 0; margin:0 20px}
}

@media screen and (max-width:479px) {
    .window-photo-slider-list-item-data-id {position:relative; right:auto; top:auto; margin:0 0 10px 0}
}

.window-photo-slider .slick-prev,
.window-photo-slider .slick-next {display:block; position:absolute; z-index:2; top:50%; width:40px; height:40px; border:none; border-radius:0; margin:-20px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:#363636; transition:background 0.2s}
.window-photo-slider .slick-prev:hover,
.window-photo-slider .slick-next:hover {background:#FF2F66}
.window-photo-slider .slick-prev {left:-60px}
.window-photo-slider .slick-next {right:-60px}
.window-photo-slider .slick-prev svg {display:block; position:absolute; left:50%; top:50%; width:10px; height:16px; margin:-8px 0 0 -6px; fill:none; stroke:#FFFFFF}
.window-photo-slider .slick-next svg {display:block; position:absolute; left:50%; top:50%; width:10px; height:16px; margin:-8px 0 0 -4px; fill:none; stroke:#FFFFFF}

.page-404 {text-align:center; height:calc(100vh - 200px); margin:60px 0 0 0; min-height:317px; position:relative}
.page-404-inner {position:absolute; left:0; top:50%; right:0; transform:translateY(-50%)}
.page-404-img {line-height:0}
.page-404-img img {width:91px}
.page-404-title {margin:26px 0 0 0; font-size:60px; line-height:60px}
.page-404-text {margin:10px 0 0 0; font-size:30px; line-height:30px}
.page-404-link {margin:36px 0 0 0}

@media screen and (min-width:1800px) {
    .page-404 {min-height:480px; margin:0}
    .page-404-img img {width:150px}
    .page-404-title {margin:40px 0 0 0; font-size:100px; line-height:100px}
    .page-404-text {margin:20px 0 0 0; font-size:50px; line-height:50px}
    .page-404-link {margin:60px 0 0 0}
}

@media screen and (max-width:1199px) {
    .page-404 {height:calc(100vh - 280px); margin:0}
}

.window-open,
.window-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}

.window {position:fixed; left:0; top:0; right:0; bottom:0; overflow:auto; z-index:9999; background:rgba(0, 0, 0, 0.5); text-align:center}
.window::before {content:""; display:inline-block; height:100%; vertical-align:middle}
.window-loading {position:absolute; left:0; top:0; right:0; bottom:0; background:url(../images/loading.gif) no-repeat center}
.window-container {display:inline-block; vertical-align:top; position:relative; text-align:left; background:#fff; margin:30px 0; transition:transform 0.2s, opacity 0.2s}
.window-container-preload {opacity:0}
.window-close {display:block; position:absolute; right:0; top:0; width:55px; height:66px}
.window-close svg {display:block; position:absolute; left:50%; top:50%; width:18px; height:18px; margin:-9px 0 0 -9px; fill:none; stroke:#fff}

@media screen and (min-width:1800px) {
    .window-close {width:75px; height:76px}
}

.window-title {background:#000; padding:20px 55px 20px 30px; color:#fff; font-weight:500; font-size:20px; line-height:26px; position:relative}
.window-content {padding:30px}
.window-content > *:first-child {margin-top:0}
.window-content > *:last-child {margin-bottom:0}
.window-bottom {border-top:1px solid #DADADA; font-size:0; line-height:0; letter-spacing:-1px; padding:20px 25px; text-align:center}
.window-bottom a {margin:0 5px}

@media screen and (min-width:1800px) {
    .window-title {padding:25px 75px 25px 30px}
}

@media screen and (max-width:1199px) {
    .window-title {padding:20px 55px 20px 20px}
    .window-content {padding:20px}
}

.window-email {width:787px}
.window-email-container {padding:20px 30px 56px 30px}
.window-email-photo {line-height:0}
.window-email-photo img {display:block; width:100%}
.window-email-title {margin:11px 0 0 0; font-size:18px; line-height:25px}
.window-email-form {margin:40px 0 0 0}
.window-email-form form {margin:0; padding:0}
.window-email-form form::after {content:""; display:block; clear:both}
.window-email-form .form-input {margin:0; position:relative; float:left; width:calc(100% - 184px)}
.window-email-form .form-input input {padding:15px 0 4px 0; border:none; font-weight:500; font-size:16px; line-height:24px; border-bottom:1px solid #000000; height:44px}
.window-email-form .form-input span {position:absolute; left:0; top:0; font-size:8px; line-height:10px; letter-spacing:0.05em; text-transform:uppercase; color:#ABABAB; pointer-events:none}
.window-email-submit {float:right; width:161px}
.window-email-submit .btn {padding:0; text-align:center; width:100%}

@media screen and (min-width:1800px) {
    .window-email {width:1000px}
    .window-email-container {padding:30px 30px 70px 30px}
    .window-email-title {margin:20px 0 0 0; font-size:22px; line-height:31px}
    .window-email-form {margin:51px 0 0 0}
    .window-email-form .form-input {width:calc(100% - 217px)}
    .window-email-form .form-input input {padding:17px 0 9px 0; font-size:22px; line-height:33px; height:60px}
    .window-email-form .form-input span {top:-11px; font-size:14px; line-height:18px}
    .window-email-submit {width:187px}
}

@media screen and (max-width:1199px) {
    .window-email {width:738px}
    .window-email-container {padding:20px 20px 48px 20px}
    .window-email-title {margin:15px 0 0 0}
    .window-email-form .form-input input {font-size:18px; line-height:27px; padding:10px 0 6px 0}
    .window-email-form .form-input span {font-size:12px; line-height:16px; top:-10px}
}

@media screen and (max-width:767px) {
    .window-email {width:calc(100vw - 40px)}
    .window-email-container {padding:0 20px 32px 20px}
    .window-email-photo {margin:0 -20px}
    .window-email-title {margin:10px 0 0 0}
    .window-email-form {margin:30px 0 0 0}
    .window-email-form .form-input {float:none; width:auto}
    .window-email-submit {float:none; text-align:center; width:auto; margin:30px 0 0 0}
    .window-email-submit .btn {padding:0 20px; width:auto}
}

.window-results {width:787px}

@media screen and (min-width:1800px) {
    .window-results {width:1000px}
}

@media screen and (max-width:1199px) {
    .window-results {width:738px}
}

@media screen and (max-width:767px) {
    .window-results {width:calc(100vw - 40px)}
}

.card-photo-title {margin:40px 0 30px 0; font-size:30px; line-height:42px}

@media screen and (min-width:1800px) {
    .card-photo-title {margin:50px 0 40px 0; font-size:40px; line-height:56px; font-weight:600}
}

.card-photo-ctrl {margin:30px 0 20px 0}
.card-photo-ctrl::after {content:""; display:block; clear:both}
.card-photo-ctrl-item {float:left; margin:0 0 0 10px; position:relative}
.card-photo-ctrl-item:first-child {margin:0}

@media screen and (min-width:1800px) {
    .card-photo-ctrl {margin:40px 0 30px 0}
    .card-photo-ctrl-item {margin:0 0 0 15px}
    .card-photo-ctrl-item:first-child {margin:0}
}

@media screen and (max-width:479px) {
    .card-photo-ctrl-item {float:none; margin:10px 0 0 0}
    .card-photo-ctrl-item:first-child {margin:0}
}

.card-photo-ctrl-item:hover .window-photo-social-window {display:block}

.card-photo-img {margin:20px 0; max-width:865px; line-height:0}
.card-photo-img img {display:block; width:100%}

@media screen and (min-width:1800px) {
    .card-photo-img {margin:30px 0 20px 0; max-width:1240px}
}

.card-photo-data {margin:10px 0 0 0; display:table; width:100%; font-weight:normal; font-size:16px; line-height:22px; letter-spacing:0}
.card-photo-data-row {display:table-row}
.card-photo-data-row-name {display:table-cell; vertical-align:top; white-space:nowrap; padding:10px 0 0 0; color:#9C9C9C}
.card-photo-data-row-value {display:table-cell; vertical-align:top; padding:10px 0 0 20px; width:100%; color:#000000}

@media screen and (min-width:1800px) {
    .card-photo-data {margin:5px 0 0 0; font-size:20px; line-height:28px}
    .card-photo-data-row-name {padding:15px 0 0 0}
    .card-photo-data-row-value {padding:15px 0 0 20px}
}

@media screen and (max-width:479px) {
    .card-photo-data {margin:20px 0 0 0; display:block; width:auto}
    .card-photo-data-row {display:block; margin:20px 0 0 0}
    .card-photo-data-row-name {display:block; white-space:normal; padding:0}
    .card-photo-data-row-value {display:block; padding:0; width:auto}
}

@media print {
    header {background:none; border-bottom:1px solid #E7E7E7}
    .logo svg {fill:#000000}
    .logo-title {color:#000000}
    .header-right {display:none}
    .event-header {display:none}
    .card-photo-ctrl {display:none}
}